<div>
    <h1 > Don't Change yourself , change others </h1>
    <div class="grid__col--4">
        <img class="img--avatar" src="img/avatar.png" alt="Avatar">
        <form>
          <label class="form__label--hidden" for="username">Username:</label> 
          <input class="form__input" type="text" id="username" placeholder="Username">
          <label class="form__label--hidden" for="password">Password:</label>
          <input class="form__input" type="password" id="password" placeholder="Password">
          <input class="form__btn" type="submit" value="Login">
        </form>
      </div>
</div>