


<div class="centered grid__col--8">
  <h1 class="headline-primary--grouped" ngfx-pulse="3">Giovany Reyes</h1>
  <h2 class="headline-secondary--grouped"> JavaScript Engineer</h2>
  <p> A dynamic individual with a background in both <a href="https://github.com/GiovanyReyes">JavaScript programming</a> and
    interdisciplinary sciences. I believe the most exciting opportunities are those which integrate innovation, design, and
    technology with a social focus in mind. </p>
 <div class=" centered grid__col--8">
     <blockquote>“Tomorrow belongs to those who can hear it coming” ― David Bowie</blockquote>
   </div>
 </div>
</div>

<div class="grid is-hidden-mobile">
  <div class="grid__col--12">
<img class="img--hero" src="/public/images/landingPage/WillyB.jpg" alt="Poly - A simple UI Kit">
  </div>
</div>



<div class="grid__col--10">
  <h4 id="nav">Portfolio</h4>
  <ul class="nav" role="navigation">
    <li ui-sref-active="{'active' : '.printCollab'}" class="nav__item--current"><a href="#">PrintCollab</a></li>
    <li ui-sref-active="{'active' : '.photos'}" class="nav__item"><a href="#">Photos</a></li>
    <li ui-sref-active="{'active' : '.currentProjects'}" class="nav__item"><a href="#">Current Projects</a></li>
  </ul>
  <p> <a href="http://www.theprintcollab.com/"> Print Collab </a> is an online e-commerce site that allows artist/photographer/designers
    to share and sell their work on an easy to use full service platform.</p>
  <div class="grid__col--4">
    <a href="http://www.theprintcollab.com/"> <img class="" src="/public/images/landingPage/printCollab.jpg" alt="sample image"> </a>
  </div>
</div>


<!--<h4 id="images" class="grid">Photography</h4>
<div class="grid" id="bottom">
  <div class="grid__col--5">
    <img src="/public/images/landingPage/bocce.jpg" alt="sample image">
  </div>
  <div class="grid__col--5">
    <img class="img--wrap" src="/public/images/landingPage/bocce.jpg" alt="sample image">
  </div>
  <div class="grid__col--5">
    <a class="img--wrap" src="/public/assets/resume.pdf" alt="sample image"> </a>
  </div>
  <div class="grid__col--2">
    <img class="img--avatar" src="/public/images/landingPage/bocce.jpg" alt="Avatar">
  </div>
</div>-->
