<!-- HEADER -->
<header class="grid__col--12 " role="banner">
    <nav class="navbar" role="navigation">
        <span id="toggle" class="icn--nav-toggle is-displayed-mobile">
            <b class="srt">Toggle</b>
          </span>
        <ul class="nav is-collapsed-mobile" >
            <li ui-sref="app.home" class="nav__item"><a href="#nav">Home</a></li>
            <!--<li ui-sref="app.photos" class="nav__item"><a href="#type">Photography</a></li>-->
            <!--<li class="nav__item"><a href="#buttons">Music</a></li>-->
            <!--<li ui-sref="app.travel" class="nav__item"><a href="#buttons">Travel</a></li>-->
            <li ui-sref="app.contact" class="nav__item"><a href="#forms">Contact</a></li>
            <li class="nav__item"><a href="https://github.com/GiovanyReyes">Portfolio</a></li>
            <li ui-sref="app.travel" class="nav__item open-resume"><a href="">Travel</a></li>
            <li  class="nav__item login-button-directive"><a href="#nav">Resume</a></li>
  
            <!--<a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">Resume</a>-->
        </ul>
    </nav>
</header>